<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div id="img">
      <img src="../assets/icon/user.png" alt="LogIn Img">
    </div>
    
    <ion-item>
      <ion-label position="stacked">Número de colaborador:</ion-label>
      <ion-input placeholder="MNI12304"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña:</ion-label>
      <ion-input placeholder="********"></ion-input>
    </ion-item>

    <ion-buttons>
      <ion-button shape="round" fill="outline" color="success" href="folder/Inicio">Entrar</ion-button>
    </ion-buttons>

  </div>
  
</ion-content>
