<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div id="img">
      <img src="../assets/icon/add-user.png" alt="Agregar usuario img">
    </div>
    <ion-item>
      <ion-label position="stacked">Nombre(s):</ion-label>
      <ion-input placeholder="César Alejandro"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Apellidos:</ion-label>
      <ion-input placeholder="Yamamoto Herrera"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Número de colaborador:</ion-label>
      <ion-input placeholder="MNI12304"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo electrónico:</ion-label>
      <ion-input placeholder="Cyamamotohrra@outlook.com"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Contraseña:</ion-label>
      <ion-input placeholder="********"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Repite la contraseña:</ion-label>
      <ion-input placeholder="********"></ion-input>
    </ion-item>

    <ion-buttons>
      <ion-button shape="round" fill="outline" color="primary" href="login/Login">Guardar</ion-button>
    </ion-buttons>

  </div>
  
</ion-content>
